*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;  
  /* 10px/16px = 62.5% -> 1rem = 10px */
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 3rem;
  width: auto;
}

#nav ul {
  display: flex;
  list-style: none;
  
}

#nav ul li {
  margin: 0 1rem;
  font-size: 1.4rem
}

